---
apiVersion: v1
kind: Service
metadata:
  name: jaeger-collector
  labels:
    app: jaeger
spec:
  type: ClusterIP
  ports:
    # Port for OTLP/gRPC (what your Rust app will use)
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
      protocol: TCP
    # Port for the Jaeger UI
    - name: jaeger-ui
      port: 16686
      targetPort: 16686
      protocol: TCP
  selector:
    app: jaeger
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger-all-in-one
  labels:
    app: jaeger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
        - name: jaeger
          # Use the latest all-in-one image
          image: jaegertracing/all-in-one:latest
          ports:
            - containerPort: 4317 # OTLP/gRPC
            - containerPort: 16686 # UI
          # Tell Jaeger to accept OTLP (it doesn't by default on :latest yet)
          env:
            - name: COLLECTOR_OTLP_ENABLED
              value: "true"